body{font-family:$font-stack}

p{color:#777777;line-height:20px}

.mt-50{margin-top:50px}

.mb-50{margin-bottom:50px}

.m-50{margin:50px}

.mtb-50{margin-top:50px;margin-bottom:50px}

.pt-50{padding-top:50px}

.pr-0{padding-right:0}

.pl-0{padding-left:0}

.text-white{
    color:white;
}

